<h1>Editing brand category</h1>

<%= render "form", brand_category: @brand_category %>

<br>

<div>
  <%= link_to "Show this brand category", @brand_category %> |
  <%= link_to "Back to brand categories", brand_categories_path %>
</div>
