<h1>Editing brand subcategory</h1>

<%= render "form", brand_subcategory: @brand_subcategory %>

<br>

<div>
  <%= link_to "Show this brand subcategory", @brand_subcategory %> |
  <%= link_to "Back to brand subcategories", brand_subcategories_path %>
</div>
