body {
    background: darkred;
}

table, tr, td, th {
    border: 1px solid black;
}

.page-nav {
    background: grey;
    margin-bottom: 20px;
}

#topnav {
    margin-top: 15px;
    li {
        display: inline;
        padding: 5px 8px;
    }
}

#site-name {
    font-size: 22px;
    margin-top: 15px;
}

#footer {
    text-align: center;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
    // position: fixed;
    bottom: 0;
}